body {
  display: block;
  margin: 50px;
  background-color: rgb(70, 66, 66);
  color: rgb(255, 255, 255);
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

.home-link {
  font-size: 20px;
}

a,
li,
p {
  font-size: 20px;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: aqua;
}

.images {
  width: 400px;
  height: auto;
  margin: 20px auto;
}
